body{
    padding: 0;
    margin: 0; 
    
}
.container{
    display: flex; 
    flex-direction: column; 
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 100px 20px 100px;
}
.intro-text{
    padding: 100px 100px;
    display:flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
  
}
.body-intro{
    display:flex;
    flex-direction: column;
    max-width: 400px;

}
.intro-img{
    padding-left: 400px;
}

.links ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}
.intro-text button{
    width: 110px;
    background:#3882f6;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    padding: 8px;
    border: none;
}
.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 24px;
}
.picture-card{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 64px;
}    
.card{
    width: 200px;
    height: 300px;
}
.card-text{
    padding: 15px 0px;
}
.card img {
    width: 200px; 
    height: 200px;
    border: 1px solid blue;
    border-radius: 25px;
    object-fit: cover;
}